{%extends 'base.html'%}

{%block navbar%}
{%include "navbar.html" %}
{%endblock%}

{%block content%}
<div class="leftpane">a</div>
<div class="middlepane">
    <div class="new_post">
        <form action="." method="POST" enctype="multipart/form-data">{%csrf_token%}
            {{form.as_p}}
            <input type="submit" name="add_post" value="+"/>
        </form>
    </div>
    {%for instance in queryset%}
    <div class="post_list">
        <p><a href="{{instance.user.account.get_absolute_url}}">{{instance.user.first_name}} {{instance.user.last_name}}</a></p>
        <p>{{instance.date}}</p>
        <p>{{instance.content}}</p>
        {%if instance.photo%}
        <div class="post_image">
            <img class="post_photo"src="{{instance.photo.url}}"/>
        </div>
        {%endif%}
    </div>
    {%endfor%}
</div>
<div class="rightpane"> a</div>
{%endblock%}