{%extends 'base.html'%}

{%block navbar%}
{%include "navbar.html" %}
{%endblock%}

{%block content%}
<div>
    <form method="POST">{% csrf_token %}
            {{form.as_p}}
            <button type="submit", name="update_name">Submit</button>
    </form>
    <form method="POST">{% csrf_token %}
            {{form2.as_p}}
            <button type="submit", name="update_lastname">Submit</button>
    </form>
    <form method="POST">{% csrf_token %}
            {{form3.as_p}}
            <button type="submit", name="update_email">Submit</button>
    </form>
</div>
<div>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form4.as_p}}
            <button type="submit", name="update_image">Submit</button>
    </form>
    <form method="POST">{% csrf_token %}
            {{form5.as_p}}
            <button type="submit", name="update_school">Submit</button>
    </form>
    <form method="POST">{% csrf_token %}
            {{form6.as_p}}
            <button type="submit", name="update_town">Submit</button>
    </form>
</div>
{%endblock%}