{%extends 'base.html'%}

{%block navbar%}
{%include "navbar.html" %}
{%endblock%}

{%block content%}
{{object_list}}
{%if account.image%}
    <div class="profile_picture"><img src="{{account.image.url}}"></div>
{%endif%}
<div class="name">{{user.first_name}} {{user.last_name}}</div>
<div class="town">Miejsce zamieszkania: {{account.town}}</div>
<div class="school">Uczęszczał do: {{account.school}}</div>
{%for instance in object_list%}
    <div class="post">
        {{instance.user.first_name}} {{instance.user.last_name}}</br>
        {{instance.date}}</br>
        {{instance.content}}</br>
        {{instance.likes.count}} <a href="{{instance.get_like_url}}"><i class="fas fa-hand-spock"></i></a>
        {{instance.dislikes.count}} <a href="{{instance.get_dislike_url}}"><i class="fas fa-heart-broken"></i></a>
    </div>
{%endfor%}
{%endblock%}
