<nav>
    <ul>
        <li class="logo">SocialCity</li>
        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <li><a href="/">Strona główna</a></li>
            <li><a href="{{request.user.account.get_absolute_url}}">Profil</a></li>
            <li><a href="/settings">Ustawienia</a></li>
            <li><a href="/notifications"><i class="fas fa-concierge-bell"></i></a></li>
            <li><a href="/logout">Wyloguj</a></li>
        </div>
        <li class="search-icon">
            <form method="GET", action="{% url 'pages:search-page'%}">
                <input type="search" placeholder="Search", name="query", value="{{request.GET.query}}">
                <button class="icon", type="submit">
                    <span class="fas fa-search"></span>
                </button>
            </form>
        </li>
    </ul>
</nav>
<script>
    $('nav ul li.btn span').click(function(){
    $('nav ul div.items').toggleClass("show");
    $('nav ul li.btn span').toggleClass("show");
    });
</script>